.container-sobre {
  background-color: #E4ECEE;
  padding: 60px;
  display: flex;
}

.container-sobre img {
  width: auto;
  height: 400px;
}

.titulo h1 {
  color: #121215;
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  margin-left: 30px;
}

.titulo span {
  color: #D92D2F;
}

.textos-sobre span {
  color: #121215;
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8rem;
  margin-left: 30px;
  margin-bottom:10px;
}

.textos-sobre p {
  color: #121215;
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  margin-left: 30px;
  margin-bottom:10px;
  max-width: 600px;
}

.mapa-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa-sobre iframe {
  width: 360px;
  height: 260px;
}

@media (max-width: 700px) {
  .container-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin: 0px;
  }

.titulo h1 {
  margin-left: 0px;
}

.textos-sobre span, .textos-sobre p  {
margin: 0px;
}

  .container-sobre img {
    border-radius: 200px 200px 200px 200px;
    width: 200px;
    height: auto;
    margin-bottom: 10px;
  }

  .mapa-sobre iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 240px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media (max-width: 580px) {
  .mapa-sobre iframe {
    width: 260px;
    height: 240px;
    margin-bottom: 20px;
  }
}
